#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/led/led.h>

/ {
        aliases {
                led-strip = &ws2812;
                nice-view = &nice_view;
        };
        chosen {
                zephyr,display = &nice_view;
                zephyr,console = &usb_cdc;
        };
};

&pinctrl {
        ws2812_pio0_default: ws2812_pio0_default {
                ws2812 {
                        pinmux = <PIO0_P16>;
                };
        };
        nice_view_pinctrl: nice_view_pinctrl {
                group1 {
                        // clk, mosi
                        pinmux = <PIO0_P2>, <PIO0_P0>;
                };
        };
};

&pio0 {
        status = "okay";

        pio-ws2812 {
                compatible = "worldsemi,ws2812-rpi_pico-pio";
                status = "okay";
                pinctrl-0 = <&ws2812_pio0_default>;
                pinctrl-names = "default";
                bit-waveform = <3>, <3>, <4>;

                ws2812: ws2812 {
                        status = "okay";
                        gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
                        chain-length = <1>;
                        color-mapping = <LED_COLOR_ID_RED
                                         LED_COLOR_ID_GREEN
                                         LED_COLOR_ID_BLUE>;
                        reset-delay = <280>;
                        frequency = <800000>;
                };
        };
};

&pio1 {
        status = "okay";
        pio-spi {
                compatible = "raspberrypi,pico-spi-pio";
                #address-cells = <1>;
                #size-cells = <0>;
                clocks = <&clocks RPI_PICO_CLKID_CLK_SYS>;
                clock-frequency = <1000000>;
                pinctrl-0 = <&nice_view_pinctrl>;
                pinctrl-names = "default";
                cs-gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
                clk-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
                mosi-gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
                nice_view: nice-view@0 {
                        compatible = "sharp,ls0xx";
                        reg = <0>;
                        width = <160>;
                        height = <68>;
                        spi-max-frequency = <1000000>;
                        /delete-property/ spi-cpol; // CPOL 0
                        /delete-property/ spi-cpha; // CPHA 0
                };
        };
};

// Enable debugging over UART over USB (USB CDC)
&zephyr_udc0 {
        usb_cdc: usb_cdc_0 {
                compatible = "zephyr,cdc-acm-uart";
        };
};
